.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(227, 47, 255);
    font-family: sans-serif;
}

#content {
    background: rgb(191, 176, 255)
}

