h1 {
    text-align: center;
    font-size: 50px;
    background-color: #ffc0ed;
    border: solid 1px #888;
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

body {
    background-color: #fffbea;
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

#output {
    align-items: center;
    font-family: 'Courier New', 'Courier New', Courier, monospace
}

#pesto {
    align-items: center;
}